.header-lt-mode {
    height: 120px;
    background-color: $background-clr-header;
    a {
        text-decoration: none;
        color: none;
    }
    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
        color: none;
    }
    .site-title {
        float: left;
        font-family: $site-title-font;
    }
    .site-title li a {
        color: $header-link-clr;
        font-size: 2em;
    }
    .navigation {
        font-family: $header-link-font;
        float: right;
        margin: 5px 0;
        li {
            margin-right: 50px;
        }
        li a {
            color: $header-link-clr;
            font-size: 1.2em;
        }
    }
    .nav-container {
        position: relative;
        display: block;
        padding-left: 0;
        top: 30%;
        margin: auto;
        width: 80%;
        height: 50px;
        ul {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 900px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        width: 70%;
        ul {
            display: block;
        }
    }
    .navigation {
        align-self: center;
    }
}


