@import "variables";
@import "home";
@import "post";
@import "header";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 1em;
    background-color: #efefef;
}
a {
    text-decoration: none;
}
span {
    display: inline-block;
}
hr {
    opacity: 0.5;
}


